<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <script>

        const Pwch = () => {
          const pw =document.getElementById("pwCh").value();
          const pwDB = "[[${member.memberPassword]]";

          if(pw==pwDB){
              document.upPwCh.submit();
          }else{
              alert("비밀번호가 일치하지 않습니다.");
          }
        }

    </script>
</head>
<body>
<h2> update </h2>

<form action="/member/update" method="post" name="upPwCh">
    <input th:type="hidden" th:name="memberId" th:value="${member.memberId}">
    이메일:<input type="text" name="memberName" th:value="${member.memberName}" readonly>
<!--    비밀번호:<input type="text" name="memberPassword" id="pwCh" th:value="${member.memberPassword}">-->
    이름:<input type="text" name="memberName" th:value="${member.memberName}">
    <input type="button" th:onclick="Pwch()" value="수정(post)">
</form>
</body>
</html>